#name{
    font-size: 30px;
    padding-left: 40px;
}
table {
    border-radius: 10px;
    background: #F7F9FD;
    box-shadow: 5px 5px 10px rgb(194, 194, 194);
    border: 1px solid #dddfe2 ;
    font-size: 28px;
    padding: 50px;
}

td,th {
    padding: 20px  90px 10px 90px;
}

input {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    transition: 0.2s all linear;
    top: 4px;
    vertical-align: middle
  }
  
input:checked {
    border: 6px solid blue;
    outline: unset !important /* I added this one for Edge (chromium) support */
  }

#submit {
    background-color: #1d7a22;
    width: 200px;
    height: 60px;
    border: 1px solid white;
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1px;
}

#submit:hover {
    background-color: #21a328;
}

.time{
    background-color: #F7F9FD; 
    box-shadow: 5px 5px 10px rgb(194, 194, 194);
    border: 1px solid #dddfe2 ;
    padding: 40px 80px 40px 80px; 
    margin-left: 35em; 
    font-size: 35px;
    font-family: 'Secular One', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 45px;
    color: red;
    text-decoration: none;
    flex: none;
    letter-spacing: 1px;
    text-align: center;
    position: fixed;
    width: 30%;
}