#name {
font-family: 'Spartan', sans-serif;
font-style: normal;
font-size: 33px;
color: #000000;
text-transform: uppercase;
}

.container {
    width: 630px;
    height: 540px;
    background: #F4F4F4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
    z-index: 1;
}

table {
    padding: 30px 30px 10px 30px ;
    width: 630px;
}
th, td {
    padding: 10px 50px 10px 50px;
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-size: 22px;
    line-height: 22px;

  }

td:nth-child(2) {
    text-align: right;
  }

#circle1 {
    position: absolute;
    width: 290px;
    height: 290px;
    margin-top: -33em;
    margin-left: 15em;
    z-index: -1;
}

#book {
    position: absolute;
    width: 560px;
    height: 551px;
    margin-left: 6em;
    margin-top: -17em;  
    z-index: -1; 
}

#circle2 {
    position: absolute;
    width: 290px;
    height: 290px;
    margin-left: -34em;
    margin-top: -11em;
    z-index: -1;
}

#board {
    position: absolute;
    width: 320px;
    height: 310px;
    margin-left: -35em;
    margin-top: -35em;
    z-index: -1;
}

#print {
    background-color: #1d7a22;
    width: 200px;
    height: 60px;
    border: 1px solid white;
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

#print:hover {
    background-color: #21a328;
}
